$def with (result)
<div class="row">
    <div class="col-lg-12">
		<blockquote>
		<p><a href="#div1"> 什么是网络钓鱼？</a></p>
		<p><a href="#div2">网络钓鱼的危害</a></p>
		<p><a href="#div3">什么是钓鱼网站?</a></p>
   		<p><a href="#div4">钓鱼网站的检查与防护</a></p>
		<p><a href="#div5">本网站的目的</a></p>	
		<p><a href="#div6">本网站的功能</a></p>
		<p><a href="#div7">本网站的优缺点</a></p>	
		<p><a href="#div8">相关网站</a></p>
		<p><a href="#div9">最新的钓鱼网站</a></p>	
		</blockquote>
    </div>
</div>
<div class="row" id="div1" >
    <div class="col-lg-12">
		<blockquote>
			<p>什么是网络钓鱼？</p>
			<small>网络钓鱼是一种钓鱼式攻击，属于“社会工程攻击”。黑客始起初是以电话作案，随着互联网的普及，黑客利用欺骗性的电子邮件和伪造的 Web 站点来进行网络诈骗活动，受骗者往往会泄露自己的私人资料，如信用卡号、银行卡账户、身份证号等内容。诈骗者通常会将自己伪装成网络银行、在线电商和信用卡公司等可信的品牌。
			</small>
		</blockquote>
	</div>
</div>
<div class="row" id="div2" >
    <div class="col-lg-12">
		<blockquote>
			<p>网络钓鱼的危害</p>
                        <small>骗取用户的个人隐私及财产
                        </small>
		</blockquote>
    </div>
</div>
<div class="row" id="div3" >
    <div class="col-lg-12">
                <blockquote>
                	<p>什么是钓鱼网站？</p>
                        <small>网络钓鱼攻击中使用到的web站点称为钓鱼网站，钓鱼网站的页面与真实网站页面几乎完全一致，要求访问者提供个人信息如手机号、身份证、个人账号密码等信息>。
                        </small>
		</blockquote>
    </div>
</div>
<div class="row" id="div4" >
    <div class="col-lg-12">
                <blockquote>
                        <p>钓鱼网站的检查与防护</p>
                        <small>一般的方法有，黑名单，白名单，相识度分析，人工智能分析等，一般的防护方法有安装防火墙，防病毒软件。最重要的是用户有个火眼金睛，当一个网站需要你提供个人信息时，多留一个心眼，确认下这个网站的网址和网页内容，钓鱼网站和真实网站一般有相似性。
                        </small>
                </blockquote>
    </div>
</div>
<div class="row" id="div5" >
    <div class="col-lg-12">
                <blockquote>
                        <p>本网站的目的</p>
                        <small>本网站供广大互联网用户使用，依靠大家的力量建立一个可信赖的钓鱼网站信誉库(包括可信赖的正常的域名、网站和不可信赖的钓鱼网站域名)，最终的目的是希望给大家提供一个安全可靠的互联网使用环境。
                        </small>
                </blockquote>
    </div>
</div>
<div class="row" id="div6" >
    <div class="col-lg-12">
                <blockquote>
                        <p>本网站的主要功能</p>
                        <small><p>查找功能：如果您遇到可疑的需要你提供个人信息的网站，请复制网址到这里查找，系统会给出查找结果</p>
				<p>帮帮我：如果未能查找到结果，希望您把可疑网址录入到系统中，系统管理员和会员会帮您确认并给出结论</p>
				<p>帮帮您：需要注册会员，注册后您可以帮助他人，对系统中他人录入的可疑的钓鱼网站投上你宝贵的一票</p>
				<p>会员功能：注册成为会员后，系统更好的记录会员的贡献度，希望后期根据贡献度给会员相应的回报</p>
				<p>管理功能：主要功能是收集分析互联网现有的正常网站和钓鱼网站</p>
                        </small>
                </blockquote>
    </div>
</div>
<div class="row" id="div7" >
    <div class="col-lg-12">
                <blockquote>
                        <p>本网站的优缺点</p>
                        <small><p>优点：简介易用，兼容pc，手机，微信公众号。具备一定的查找能力，管理员已经收集和分析了互联网部分的正常网站和钓鱼网站</p>
                                <p>缺点：管理员收集和分析有限，更多的是希望广大互联网用户使用，只有使用的用户多了，这个网站才真正有意义</p>
                        </small>
                </blockquote>
    </div>
</div>

<div class="row" id="div8" >
    <div class="col-lg-12">
		<blockquote>
			<p>相关网站</p>
			<small><p><a href="http://www.apac.cn">中国反钓鱼联盟</a></p>
			<p><a href="http://www.phishtank.com">phishtank</a></p>
			<p><a href="http://www.whois.chinaz.com">站长之家-whois</a></p>
			<p><a href="https://whois.aliyun.com">万网-whois</a></p>
			<p><a href="http://miitbeian.gov.cn">ICP备案信息</a></p>
			<p><a href="http://www.alexa.chinaz.com">网站排名</a></p>
			</small>
		</blockquote>
    </div>
</div>
<div class="row" id="div9" >
    <div class="col-lg-12">
                <blockquote>
                        <p>最新的钓鱼网站</p>
                        <small>
			$for i in result:	
                            <p><a href="$i[0]">
                               $if len(i[0]) > 32:
                                   $i[0][:32]
                               $else:
                                   $i[0]       
                            </a></p>
                            <p>$i[1]</p>
			</small>
                </blockquote>
    </div>
</div>


