<div class="row">
    <div class="col-lg-12">    
        <form id="myform" method="post" action="report">
            <div class="form-group">
                <label for="exampleInputUrl">输入网址</label>
                <input type="url" class="form-control" id="exampleInputUrl" name="url" placeholder="http(s)://" maxlength="256" required>
            </div>
	    <div class="form-group">
                <div nowrap><label for="exampleInputVerifycode">验证码</label><img src="/static/img/verifycode.jpg" class="img-responsive" alt="Cinque Terre" height="80" width="80"/></div>
                <input type="text" class="form-control" id="verifycode" name='verifycode' maxlength="4" required>
            </div>
            <button type="submit" class="btn btn-default">提交</button>
	    <p>将您认为可疑的网址输入以上方框，同时必需输入验证码</p>
        </form>
    </div>
</div>


